*.sln*
*.suo*
*.csproj
*.contentproj
*.cachefile
*.pfx
*.opensdf
*.sdf
*.vcxproj*
UpgradeLog.XML
_UpgradeReport_Files/
hge181/
tools/
Black_Lagoon_class_diagram.png
BlackLagoon/Release/
BlackLagoon/Debug/
BlackLagoon/Game/
BlackLagoon.Tests/Release/
BlackLagoon.Tests/Debug